<link rel="stylesheet" href="/static/css/login.css">
<form action="/" class="forms vertical" method="post">
    <div class="form-field vertical">
        <h2>Login</h2>
        <h3>Login into your account</h3>
        <label for="email">Email</label>
        <input type="text" name="username" id="username"  minlength="6"  maxlength="12" placeholder="Enter your username">
        <label for="Password">Password</label>
        <input type="password" name="pass" id="pass" minlength="8" maxlength="12" placeholder="Enter your password">
        <button type="submit" class="loginbtn">Login</button>
    </div>
    <p>Don't have any account <a href="/register">register here</a></p>
</form>