<link rel="stylesheet" href="/static/css/login.css">
<form action="/register" class="forms vertical" method="post">
    <div class="form-field vertical">
        <h2>REGISTER</h2>
        <h3>Create new account</h3>
        <label for="email">Email</label>
        <input type="text" name="username" id="email" minlength="6" maxlength="12" placeholder="Enter your username">
        <label for="Password">Password</label>
        <input type="password" name="pass" id="pass" minlength="8" maxlength="12" placeholder="Enter your password">
        <button type="submit" class="loginbtn">register</button>
    </div>
    <p>Already have a account<a href="/login">Login here</a></p>
</form>